@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
  overflow: auto;
}
.outline {
  outline: solid red;
}
::-webkit-scrollbar {
  width: 0;
}
